.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c2448;
  color: #ffffff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
}

.search-icon, .menu-icon {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}
